# {{ ansible_managed }}
# This file is managed by Ansible - manual changes will be overwritten

# Localhost entries
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
# ::1       localhost localhost.localdomain localhost6 localhost6.localdomain6

# Inventory hosts
{% if base_hostname_entries is defined %}
{% for host in base_hostname_entries %}
{{ host.ip }} {{ host.hostname }}{% if host.fqdn is defined %} {{ host.fqdn }}{% endif %}

{% endfor %}
{% endif %}

# Additional custom hosts entries can be added below
