# {{ ansible_managed }}
# This file is managed by Ansible - manual changes will be overwritten

# Localhost entries
127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
# ::1       localhost localhost.localdomain localhost6 localhost6.localdomain6

# Current node hostname
{% if ansible_default_ipv4 is defined and ansible_default_ipv4.address is defined %}
{{ ansible_default_ipv4.address }} {{ base_hostname }} {{ base_hostname }}.{{ base_domain }}
{% else %}
127.0.1.1 {{ base_hostname }} {{ base_hostname }}.{{ base_domain }}
{% endif %}

# Additional hosts entries
{% if base_hostname_entries is defined %}
{% for host in base_hostname_entries %}
{{ host.ip }} {{ host.hostname }}{% if host.fqdn is defined %} {{ host.fqdn }}{% else %} {{ host.hostname }}.{{ base_domain }}{% endif %}

{% endfor %}
{% endif %}
